---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-6xl font-bold mb-8">ERROR 404</h1>
        <p class="text-white text-3xl font-bold mb-8">¡Ups! Esta página no existe.</p>
        <img src="https://media2.giphy.com/media/26DNfEyKEiWj4oYyQ/giphy.gif?cid=ecf05e47ohvn6ukmcuv88ysuh9c4hdsttwfo8e6xksnfvcng&ep=v1_gifs_search&rid=giphy.gif&ct=g"/>
    </div>
</Layout>